<header class="drunkeep-header">

  <div class="container">

    <a href="/#/" title="" class="btn pull-left v-margin-medium h-margin-x-small" ng-show="!isPath('/')">
      Home
    </a>

    <span class="pull-right" ng-show="isLoggedIn">
      <a href="/#/user" title="" class="btn v-margin-medium h-margin-x-small">
        {{user.name}}
      </a>
      <div ng-click="logout()" class="btn btn-narrow v-margin-medium h-margin-x-small">
        <i class="fa fa-fw fa-sign-out"></i>
      </div>
    </span>

    <span class="pull-right" ng-show="!isLoggedIn">
      <a href="/auth/runkeeper" target="_self" class="btn v-margin-medium h-margin-x-small" ng-show="!isPath('/runkeeper')" ng-click="clicked = true">
        Log In With RunKeeper <span class="btn-overlay" ng-show="clicked"><i class="fa fa-circle-o-notch fa-fw fa-spin"></i></span></a>
      </a>
<!--       <a href="/#/login" title="" class="btn v-margin-medium h-margin-x-small" ng-show="!isPath('/login')">
        Log In
      </a>
      <a href="/#/signup" title="" class="btn v-margin-medium h-margin-x-small" ng-show="isPath('/login')">
        Sign Up
      </a> -->
    </span>

  </div>

</header>